* {
  font-family: Arial;
  margin: 0px;
}

.button {
  display: flex;
  height: max-content;
  flex-direction: row;
  align-items: center;
  border-radius: 10px;
  justify-content: center;
  font-size: 15px;
  font-weight: 600;
  padding: 10px 10px;
  background-color: rgb(32, 129, 226);
  border: 1px solid rgb(32, 129, 226);
  color: rgb(255, 255, 255);
  margin-left: 1px;
  margin-right: 1px;
}

.button:hover {
  background-color: white; /* Green */
  color: rgb(32, 129, 226);
}

.alert-input {
  display: flex;
  justify-content: center;
  font-size: 13px;
  color: red;
}

.del-button {
  display: flex;
  height: max-content;
  flex-direction: row;
  align-items: center;
  border-radius: 10px;
  justify-content: center;
  font-size: 15px;
  font-weight: 600;
  padding: 10px 10px;
  background-color: red;
  border: 1px solid red;
  color: rgb(255, 255, 255);
  margin-left: 1px;
  margin-right: 1px;
  width: 100%;
}

.del-button:hover {
  background-color: white; /* Green */
  color: red;
}

.update-button {
  display: flex;
  height: max-content;
  flex-direction: row;
  align-items: center;
  border-radius: 10px;
  justify-content: center;
  font-size: 15px;
  font-weight: 600;
  padding: 10px 10px;
  background-color: darkorange;
  border: 1px solid darkorange;
  color: rgb(255, 255, 255);
  margin-left: 1px;
  margin-right: 1px;
  width: 100%;
}

.update-button:hover {
  background-color: white; /* Green */
  color: darkorange;
}

.account-name {
  display: flex;
  width: 100px;
  align-items: center;
  border-radius: 10px;
  justify-content: center;
  font-size: 15px;
  font-weight: 600;
  padding: 10px 10px;
  background-color: white;
  border: 1px solid rgb(32, 129, 226);
  color: rgb(32, 129, 226);
  margin-left: 1px;
  margin-right: 1px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.home {
  display: flex;
  min-width: 100%;
  min-height: 100%;
  justify-content: center;
  align-items: center;
}

.navbar {
  display: flex;
  padding: 20px;
  height: 30px;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
  background-color: whites;
}

.title {
  font-size: 24px;
  color: rgb(32, 129, 226);
}

.panel-inputs {
  display: flex;
  height: 30px;
  border: 2px solid gray;
  border-radius: 5px;
}

.content {
  display: flex;
  padding: 20px;
  justify-content: center;
  align-items: center;
  background-color: #f7fafc;
}

.layout {
  display: grid;
  grid-template-rows: 73px 1fr 90px;
  min-height: 100vh;
  min-width: 100vw;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
}

.login-options {
  display: flex;
  flex-direction: column;
  grid-template-rows: repeat(4, 1fr);
  font-size: 24px;
  border-style: solid;
  border-color: rgb(32, 129, 226);
  width: max-content;
  height: max-content;
  padding: 100px;
  border-radius: 30px;
  background-color: white;
}

.add-task-panel {
  display: flex;
  flex-direction: column;
  font-size: 24px;
  border-style: solid;
  height: max-content;
  border-color: gray;
  border-width: 1px;
  padding: 50px;
  border-radius: 30px;
  background-color: white;
}

.dash {
  display: flex;
  height: 0px;
  width: 100%;
  border-style: solid;
  border-color: gray;
  border-width: 1px;
  background-color: gray;
}

.or-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  font-weight: normal;
  color: gray;
  margin-top: 2px;
  margin-bottom: 2px;
}

.task-card {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: fit-content;
  padding: 10px;
  margin: 2px;
  border-style: solid;
  border-color: rgb(32, 129, 226);
  border-radius: 10px;
  width: 50%;
}

.task-manager {
  display: flex;
  flex-direction: column;
  min-width: 100%;
  justify-content: center;
  align-items: center;
}

.task-panel {
  display: inline-flex;
  flex-direction: column;
  min-width: 100%;
  align-items: center;
  gap: 10px;
  min-height: 100%;
}

.task-manager-layout {
  display: grid;
  grid-template-columns: 25% 1fr;
  min-width: 100%;
  justify-content: center;
  align-items: center;
}

textarea {
  resize: vertical;
  min-height: calc(100vh / 4);
  max-height: calc(100vh / 4);
}

.sticky {
  position: sticky;
}

.update-panel-buttons {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.search-bar {
  display: flex;
  padding-left: 30%;
  padding-right: 30%;
}
